body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mukta', sans-serif;
    background-image: url('img/background.jpg');
}

h2{
    text-align:center;
}

p{
    text-align: justify;
}

.center{
    margin: auto;
    width: 50%;
    padding: 10px;
}

.config_margin{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;

}

::-webkit-scrollbar-track {
    background-color: #353839;
}
::-webkit-scrollbar {
    width: 8px;
    background: #353839;
}
::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 30px;
}


@media (max-width: 48em){

    h2{
        font-size: 28px;
    }

    p{
        /* font-size: px; */
    }

}